<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verbforms Generator</title>
</head>
<body>
<h2>You're almost there...</h2>
<div class="container" align="left">
    Get the generated verb file: <a href="/verbforms_generator/download" target="blank">
    <button>Download</button>
</a>
</div>
<br>
<div class="container" align="left">
    Create a new verb file: <a href="/verbforms_generator" target="blank">
    <button>Go back to start</button>
</a>
</div>
</body>
</html>