<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verbforms Generator</title>
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/stylesheet.css">
</head>
<body>
  <div class='form-container'>
  <div class='left-container'>
    <h1>
      VERBFORMS GENERATOR<br>FOR ANKI
    </h1>
    <div class='anki'>
      <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Anki-icon.svg/1024px-Anki-icon.svg.png'>
    </div>
  </div>
  <div class='right-container'>
    <header>
      <h1>Please enter the verb you want to conjugate below</h1>
      <form action="/verbforms_generator" method="post">
      <div class='set'>
        <div class='next_verb'>
          <label for='next_verb'>Verb</label>
          <input type="text" name="next_verb" value="" required>
          <!--<input id='next_verb' placeholder="Verb in any form" type='text' value="" required>-->
        </div>
      </div>
      <div class='set'>
        <div class='sample_sentence'>
          {{ radio.sample_sentence.label }}
          <div class='radio-container'>
             {% for subfield in radio.sample_sentence %}
            <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>

            </tr>

            {% endfor %}
            <!--{{ radio.sample_sentence.label }} <br> {{ radio.sample_sentence() }}
            <input checked='' id='pet-gender-female' name='pet-gender' type='radio' value='female'>
            <label for='sample_sentence_yes'>Yes</label>
            <input id='pet-gender-male' name='pet-gender' type='radio' value='male'>
            <label for='sample_sentence_no'>No</label>-->
          </div>
        </div>
      </div>
    </header>
    <footer>
      <div class='set'>
        <input type="submit" value="Submit" id='submit'>
      </div>
    </footer>
    </form>
  </div>
</div>
</body>
</html>